// Make links more vibrant
a {
  color: #007acc;
}

// Tweak heading colors
h1, h2, h3 {
  color: #333333;
}

// Lighten background slightly
body {
  background-color: #fdfdfd;
}

/* Hide author avatar below blog posts */
.post-tail-wrapper .author-profile .avatar-wrapper {
  display: none !important;
}
